


@font-face {
    font-family: 'Mercutio Nbp';
    src: url('fonts/mercutio/mercutio_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham';
    src: url('fonts/gotham/hero-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham';
    src: url('fonts/gotham/homepagebaukasten-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'gotham';
    src: url('fonts/gotham/flamante-roma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: medium;

}


@font-face {
    font-family: 'guillermonkey';
    src: url('fonts/guillermonkey/guillermonkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'just a kid';
    src: url('fonts/just_a_kid/just_a_kid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




html, body{

    margin: 0;
    color: rgb(255, 125, 255);
    background:rgb(183, 241, 151);
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    display: flex;
  min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    height:100vh;
    padding:0;
    margin:0;
    

}









.header

{
    position: relative;
    background-image: url(https://media3.giphy.com/media/TM8Fu4TrgkNSmXh5cw/giphy.gif?cid=ecf05e47pw2n1rhxw20t8sxvtl2vvwjdfk72w9ha6rj02lab&rid=giphy.gif&ct=g);
    background-size: cover;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 .about{
    text-decoration: none;
    padding-left: 300px;
    font-family: 'gotham', 'sans-serif';
    color: rgb(36, 36, 36);


}

 #logo_01{
    width: 20%;
    padding: 25px 50px 80px 35px;

}

.nav-links{
    padding: 0px, 100px;
}


.nav-links li a img{
    width: 30px;
    padding: 15px;
}

.nav-links li{
    display: inline-block;
    margin: 0, 30px;
    padding-right: 10px;
}

.nav-links li a{
    color: black;
}


p{
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 70px;
    position:absolute;
    font-weight-absolute: bold;
    color: rgb(255, 125, 255);
    font-family: 'Guillermonkey', sans-serif;
    font-weight: bolder ;
    position: relative;
    padding-left: 50px;
    -webkit-text-stroke: 3px black; /* width and color */
   

    
}

section2{
    background:rgb(183, 241, 151);
    size: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;

    
    
}

.content{
    order: -1;
    display: flex;
    flex-direction: column;
    flex: 1;
}



 #applogo{
    width: 90px;
}



.content .textBox{

    position: relative;
    max-width: 600px;
    padding: 35px;
    
}

.content .textBox p5{
    color: rgb(43, 39, 39);
    font-family: 'gotham', sans-serif;
    font-size: 30px;
}

.aside .screen{
    width: 280px;
    display: flex;
    flex: 0 0 20vw;
    padding-right: 105px;
    border-radius: 10%;


}

.apps-links{

        display: flex;
        align-items: center;
        flex-direction: row;
        order: 1;
        padding-left: 35px;
      
}


.playstore img{
       
    width: 140px;
    height: 65px;
    padding-bottom: 15px;
    

   

    }

    .appstore
     {
    width: 100px;
    height: 50px;
   
    
    }

    

 .qrcode{
/*    
width: 50px;
height: auto;
padding-bottom: 20px;
transition: transform .2s;
*/
  transition: transform .2s; 
  width: 50px;
  height: auto;
  padding-bottom: 20px;
  
    }

    .qrcode:hover{
        transform: scale(3.5);
    }

    

    .container-text p3
{
    padding-left: 35px;
display: flex;
    font-size: 50px;
    color: rgb(240, 48, 240);
    font-family: 'just a kid', sans-serif;
    flex: 1;



}
.container-text p4
{
    padding-left: 35px;
    padding-top: 67px;
    position: absolute;
    font-size: 50px;
    color:rgb(240, 48, 240);
    font-family: 'just a kid', sans-serif;                                       
    display: flex;
    flex: 1;


}
    











.functionalities{

    display: flex;
    justify-content: space-between;
    padding:  100px;
    color: rgb(230, 250, 255);
    -webkit-text-stroke: 1px rgb(240, 48, 240);; /* width and color */


  
}

.func1{
    display: flex;
    flex-direction: row;

}

.func1 h7{
    font-family:Guillermonkey;
    font-size: 40px;
}

.func2{
    display: flex;
    flex-direction: row;

}

.func2 h8{
    font-family:Guillermonkey;
    font-size: 40px;

}

.func3{
    display: flex;
    flex-direction: row;

}

.func3 h9{
    font-family:Guillermonkey;
    font-size: 40px;

}


/*----------------------------------------------------------*/


section3{
    background-image: url(https://media1.giphy.com/media/j3kgccVddHsPu/giphy.gif?cid=ecf05e470soheknf8io8lbs8gubxjrg78qwilmc24vb1w43z&rid=giphy.gif&ct=gl);
    background-size: cover;
    background-position: center;

}



section4{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    

}


.content2{
display: flex;
flex-direction: column;
align-items: center;

}


.textBox2{
    font-family: Guillermonkey, sans-serif;
    font-size: 40px;
    color: rgb(230, 250, 255);
    -webkit-text-stroke: 1px rgb(240, 48, 240);; /* width and color */

}

/*George cant align content to the center without using padding-right*/
.smiley{
    display: flex;
    flex-direction: column;
    padding-right: 200px;

}

.text-background{
    z-index: 1;
    color: rgb(230, 250, 255);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Guillermonkey', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 1px rgb(250, 0, 217); /* width and color */
    opacity: 0.8;



    }
.countdown{
    display: flex;
    font-size: 60px;
    font-family: 'Mercutio NBP', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: rgb(230, 250, 255);
}





  .countdown div {
  padding: 20px;
  border: 1px #fff solid;
  border-radius: 10px;
  background: #000;
  opacity: 0.7;
  margin: 5px;
  }

 






  /*----------------------------------*/
 
    
   


   .footer{
    background-image: url(https://media3.giphy.com/media/TM8Fu4TrgkNSmXh5cw/giphy.gif?cid=ecf05e47pw2n1rhxw20t8sxvtl2vvwjdfk72w9ha6rj02lab&rid=giphy.gif&ct=g);
    background-size: cover;
    display: flex;
    justify-content: space-around;

   }

   .tc-links{
       display: flex;
       gap: 300px;
       

   }
   
   ul {
padding: 30px;
    list-style-type: none;
   }

   #t{
    text-decoration: none;
       font-family: 'gotham', 'sans-serif';
    color: rgb(36, 36, 36);
   }

#p{

    text-decoration: none;

    font-family: 'gotham', 'sans-serif';
    color: rgb(36, 36, 36);
}

#email{

    text-decoration: none;

    font-family: 'gotham', 'sans-serif';
    color: rgb(36, 36, 36);
}



